.card{
    width: auto;
    height: auto;
    background-color: #853829;
    border-radius: 10px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 20px;
    border: 2px solid #662A1E;
}
.card .card-img{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    width: auto;
    height: 60%;
    display: flex;
    align-items: left;
    border: 2px solid whitesmoke;
    border-radius: 10px;

}
.card img{
    width: 150px;
    height: auto;
    border-radius: 10px;
}
.info{
    background-color: #5C271C;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: black;
    border: 2px solid #662A1E;
}